#Main code path
CODE=../

#Docker host machine IP
DOCKERHOST_IP=127.0.0.1

#Ubuntu workspace
UBUNTU_SSH_PORT=2222
UBUNTU_USERNAME=capacitacion

#PHP Interpreter
PHP_XDEBUG_LOG_PATH=./packages/logs/xdebug
PHP_UPSTREAM_PORT=9000

#NGINX web server
NGINX_HTTP_PORT=8080
NGINX_HTTPS_PORT=443
NGINX_SITES_PATH=./packages/nginx/sites
NGINX_LOG_PATH=./packages/logs/nginx

#Apache web server
APACHE_HTTP_PORT=8080
APACHE_HTTPS_PORT=443
APACHE_WEB_DOCUMENT_ROOT=/var/www/public

#MariaDB database
MARIADB_PORT=3306
MARIADB_DEFAULT_DATABASE=capacitacion
MARIADB_DEFAULT_USER=capacitacion
MARIADB_DEFAULT_PASSWORD=secret
MARIADB_ROOT_PASSWORD=secret
MARIADB_SCRIPTS_PATH=../mariadb-scripts

#PHPMyAdmin database handler
PHPMYADMIN_HTTP_PORT=8100
